html {
  scroll-behavior: smooth;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  color: #413F42;
  font-family: 'Merriweather', serif;
  margin: 0;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
  color: #001D6E;
  font-weight: normal;
  padding-bottom: 10px;
}

p {
  line-height: 150%;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #798777;
  border-width: 5px;
  width: 5%;
  margin: 100px auto;
}

a {
  color: #11999E;
  font-family: 'Merriweather', serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.heading {
  font-family: 'Nosifer', cursive;
  font-size: 5.0rem;
  letter-spacing: -3px;
  line-height: 110%;
  margin: 50px auto 0 auto;
  transition: all .2s ease-in-out;
  color: #ffffff;
  background: linear-gradient(90deg, #3EDBF0 30%, #2155CD 45%, #03045E 55%, #16003B 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* font-family: 'Eater', cursive;*/
.subheading {
  font-family: 'Merriweather', serif;
  color: #11999E;

}

.topcloud {
  position: absolute;
  right: 100px;
  top: 25px;
}

.bottomcloud {
  position: absolute;
  left: 200px;
  top: 300px;
}

.top-container {
  padding-top: 100px;
  position: relative;
  background-color: #222831;
  text-align: center;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 150%;
}

.web {
  float: left;
  margin-right: 30px;
}
.python {
  float: right;
  margin-left: 30px;
}
.C {
  float: left;
  margin-right: 30px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  margin: 100px 0 0 0;
  position: relative;
  background-color: #222831;
  text-align: center;
  padding: 50px 0 20px;
}

.contact-message {
  width: 40%;
  margin: 40px auto 40px;
}


.btn {
  background: #09eaf2;
  background-image: -webkit-linear-gradient(top, #09eaf2, #113f9c);
  background-image: -moz-linear-gradient(top, #09eaf2, #113f9c);
  background-image: -ms-linear-gradient(top, #09eaf2, #113f9c);
  background-image: -o-linear-gradient(top, #09eaf2, #113f9c);
  background-image: linear-gradient(to bottom, #09eaf2, #113f9c);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Merriweather', serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3515eb;
  background-image: -webkit-linear-gradient(top, #3515eb, #2b0859);
  background-image: -moz-linear-gradient(top, #3515eb, #2b0859);
  background-image: -ms-linear-gradient(top, #3515eb, #2b0859);
  background-image: -o-linear-gradient(top, #3515eb, #2b0859);
  background-image: linear-gradient(to bottom, #3515eb, #2b0859);
  text-decoration: none;
}

.Copyright {
  color: #EAF6F6;
  font-size: 0.7rem;
}
